/* Font Import */
@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

/* Reset CSS */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
button,
form {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Global */
:root {
  /* Color */
  --color-white: #feffff;
  --color-red: #ea3057;
  --color-lightGrey: #e5e5e5;
  --color-black: #191919;
  --color-lightBlack: #b1a7a5;
  --color-blue: #2c2464;
  --color-purple: #5c2e5e;

  /* Font Size */
  --font-large: 70px;
  --font-medium: 48px;
  --font-regular: 20px;
  --font-small: 16px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;

  /* Line Height */

  /* Size */
  --space-large: 56px;
  --space-medium: 30px;
  --space-regular: 20px;
  --space-small: 10px;

  /* Border radius */
  --radius-large: 30px;
  --radius-small: 8px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*:lang(en) {
  font-family: "Montserrat", sans-serif;
}

*:lang(ko) {
  font-family: "NanumSquareRound", sans-serif;
}

body {
  position: relative;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  margin-bottom: var(--space-large);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: var(--space-medium) 0 var(--space-small) 0;
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: var(--space-small);
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin-bottom: var(--space-small);
}

/* Nav CSS */
.nav__container {
  background-color: var(--color-lightGrey);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  height: 75px;
  align-items: center;
}

.nav__item {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 0.7px;
  line-height: 1.42856875;
  margin-right: var(--space-regular);
  transition: color 150ms linear;
  padding: 6px;
}

.nav__item:hover {
  color: var(--color-red);
  transition: color 150ms linear;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__item.active {
  border: 2px solid var(--color-black);
  border-radius: var(--radius-small);
}

.burger {
  display: none;
}

/* header CSS */
.header__container {
  background-color: var(--color-lightGrey);
  color: var(--color-black);
}

.header__container .container {
  padding: 40px 15px;
}

.header__text-title {
  margin-bottom: var(--space-small);
}

.header__util {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__util .photo-box {
  width: 100%;
  padding: var(--space-regular);
}

.header__util .photo-box > img {
  width: 100%;
  border-radius: var(--radius-large);
}

.util-contact {
  padding: var(--space-small);
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
  border: 3px solid var(--color-black);
  border-radius: var(--radius-small);
  transition: all 200ms linear;
  position: absolute;
  top: 20px;
  right: 30px;
}

.util-contact:hover {
  background-color: var(--color-red);
  color: var(--color-freshGreen);
  transition: all 200ms linear;
}

/* About CSS */
.about__container {
  padding: calc(var(--space-medium) * 4) 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

.about__title {
  text-align: right;
}

.about__detail {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.detail-list {
  width: 300px;
}

.detail-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--color-black);
  color: var(--color-white);
  position: relative;
  font-size: calc(var(--font-large) * 1.2);
  line-height: 150px;
  margin: 0 auto;
  z-index: 1;
  box-shadow: 0px 0px 3px 3px rgba(25, 25, 25, 0.85);
}

/* Skills CSS */
.skills__container {
  padding: calc(var(--space-medium) * 4) 0;
  background-color: var(--color-purple);
  color: var(--color-lightGrey);
  position: relative;
  z-index: -100;
}

.skills__container h1 {
  font-size: calc(var(--font-regular) * 1.2);
  margin-bottom: var(--space-regular);
  color: var(--color-lightGrey);
}

.skills__stack {
  height: 100%;
}

.stack__list {
  height: 440px;
  padding-right: var(--space-medium);
}

.proficiency-score {
  text-align: right;
  position: relative;
  font-weight: var(--weight-semi-bold);
  top: -34px;
}

.proficiency-chart {
  display: block;
  width: 100%;
  height: 10px;
  background-color: var(--color-red);
  position: relative;
  margin-bottom: 0;
  z-index: -50;
}

.proficiency-chart::after {
  display: block;
  content: "";
  height: 10px;
  background-color: var(--color-lightGrey);
  left: 0;
  top: 0;
}

.html-chart::after {
  width: 95%;
}

.css-chart::after {
  width: 85%;
}

.js-chart::after {
  width: 90%;
}

.react-chart::after {
  width: 70%;
}

.node-chart::after {
  width: 60%;
}

.proficiency-score::after {
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.skills__tool {
  margin-bottom: calc(var(--space-large) / 4);
}

.logo-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tool-imgBox {
  width: 60px;
  margin-right: var(--space-medium);
  margin-bottom: var(--space-small);
}

.tool-imgBox:last-of-type {
  margin-right: 0;
}

.tool-imgBox > img {
  display: block;
  width: 100%;
}

.tool-imgBox > .slack {
  transform: scale(2);
}

.tool-imgBox > .figma {
  transform: scale(1.3);
}

.detail__list {
  padding-left: var(--space-small);
}

.detail__list-item {
  list-style-type: "-";
  padding-left: var(--space-small);
  margin-bottom: var(--space-small);
  color: var(--color-lightGrey);
  font-weight: var(--weight-bold);
}

/* Works CSS */
.works__container {
  padding: calc(var(--space-medium) * 4) 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.works__list-item {
  width: 400px;
  height: 300px;
  margin-right: var(--space-regular);
  margin-bottom: var(--space-regular);
  background-color: var(--color-yellow);
}

/* Contact CSS */
.contact__container {
  padding: calc(var(--space-medium) * 4) 0;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.contact__list-desc > a {
  color: var(--color-white);
  transition: color 200ms linear;
}

.contact__list-desc > a:hover {
  color: var(--color-red);
  transition: color 200ms linear;
}

.contact__mailForm {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: var(--space-regular) 0;
}

.mail-input,
.mail-text {
  font-weight: var(--weight-semi-bold);
  margin-bottom: var(--space-small);
}

#mail-input,
#mail-text {
  padding: var(--space-small);
  background-color: var(--color-white);
  border-radius: var(--radius-small);
  margin-bottom: var(--space-regular);
}

#mail-text {
  height: 200px;
}

.mail-submit {
  align-self: flex-end;
  padding: var(--space-small);
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--radius-small);
  font-weight: var(--weight-semi-bold);
  transition: all 200ms linear;
}

.mail-submit:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  transition: all 200ms linear;
}

.move-to-top {
  position: fixed;
  bottom: 10px;
  right: 30px;
  color: #ffa242;
  opacity: 0;
  pointer-events: none;
  font-size: var(--font-medium);
  transition: opacity 300ms ease-in;
}

.move-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}

/* col-lg media query */
@media screen and (max-width: 992px) {
  /* Global */
  :root {
    /* Font Size */
    --font-large: 52px;
    --font-medium: 48px;
    --font-regular: 20px;
    --font-small: 16px;

    /* Size */
    --space-large: 48px;
    --space-medium: 26px;
    --space-regular: 14px;
    --space-small: 8px;
  }

  /* nav CSS */
  .nav {
    display: none;
  }

  .burger {
    display: block;
    font-size: 32px;
  }

  .burger__btn,
  .times__btn {
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 200;
    transition: color 150ms linear;
  }

  .burger__btn:hover,
  .times__btn:hover {
    color: var(--color-red);
    transition: color 150ms linear;
  }

  .burger__list {
    width: 40%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 80px 30px;
    text-align: center;
  }

  .burger__list-item {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin-bottom: var(--space-medium);
    letter-spacing: -0.05em;
  }

  .burger__list-link {
    transition: color 200ms linear;
    padding: 6px;
  }

  .burger__list-link:hover {
    color: var(--color-red);
    transition: color 200ms linear;
  }

  .toggled {
    visibility: hidden;
  }

  @keyframes leftToRight {
    0% {
      width: 40%;
      height: 100vh;
      left: -40%;
      opacity: 0;
      background-color: var(--color-lightGrey);
    }
    100% {
      width: 40%;
      height: 100vh;
      left: 0;
      opacity: 1;
      background-color: var(--color-lightGrey);
    }
  }

  /* header CSS */
  .header__container {
    padding: var(--space-large);
  }

  .header__container .container {
    padding: 0;
  }

  .header__text-title {
    margin-bottom: var(--space-medium);
    text-align: center;
  }

  .header__util {
    display: flex;
    flex-direction: column;
  }

  .header__util .photo-box {
    text-align: center;
  }

  .header__util .photo-box > img {
    width: 60%;
    height: 100%;
  }

  .util-contact {
    display: none;
  }

  /* About CSS */
  .about__container {
    padding: var(--space-large);
  }

  /* Skills CSS */
  .skills__container {
    padding: var(--space-large);
  }

  .stack__list {
    align-self: center;
    height: auto;
    padding-right: 0;
  }

  .proficiency-score {
    text-align: right;
    position: relative;
    font-weight: var(--weight-semi-bold);
    top: -34px;
  }

  .proficiency-score::after {
    display: none;
  }

  .skills__tool {
    margin-bottom: var(--space-medium);
  }

  .tool__title {
    margin-bottom: var(--space-large);
  }

  .detail__title {
    margin-bottom: var(--space-medium);
  }

  .logo-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: var(--space-large);
  }

  .tool-imgBox {
    width: 80px;
    margin-right: var(--space-medium);
    margin-bottom: var(--space-medium);
  }

  /* Works CSS */
  .works__container {
    padding: var(--space-large);
  }

  .works__list-item {
    margin-right: 0;
  }

  /* Contact CSS */
  .contact__container {
    padding: var(--space-large);
  }

  .move-to-top {
    right: 15px;
    font-size: calc(var(--font-medium) / 1.5);
  }
}

/* col-sm media query */
@media screen and (max-width: 576px) {
  /* Global */
  :root {
    /* Font Size */
    --font-large: 35px;
    --font-medium: 24px;
    --font-regular: 20px;
    --font-small: 16px;

    /* Size */
    --space-large: 48px;
    --space-medium: 26px;
    --space-regular: 14px;
    --space-small: 8px;
  }

  /* Nav CSS */
  .burger {
    font-size: 24px;
  }

  .burger__btn,
  .times__btn {
    left: 15px;
  }

  .burger__list {
    width: 50%;
  }

  .burger__list-item {
    font-size: var(--font-small);
  }

  @keyframes leftToRight {
    0% {
      width: 50%;
      left: -50%;
    }
    100% {
      width: 50%;
    }
  }

  /* header CSS */
  .header__container {
    padding: 48px 15px;
  }

  .header__text-title {
    margin-bottom: var(--space-medium);
    text-align: center;
  }

  .header__text-desc {
    padding: 0;
    margin-bottom: var(--space-regular);
  }

  .header__util {
    display: flex;
    flex-direction: column;
  }

  .header__util .photo-box {
    align-self: center;
    width: 100%;
    height: 100%;
    padding: var(--space-small);
    margin-bottom: var(--space-small);
  }

  .header__util .photo-box > img {
    width: 80%;
    height: 100%;
  }

  /* About CSS */
  .about__container {
    padding: 48px 15px;
  }

  .about__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detail-list {
    width: 100%;
    margin-bottom: var(--space-large);
  }

  .detail-img {
    width: 130px;
    height: 130px;
    font-size: calc(var(--font-large) * 1.5);
    line-height: 130px;
  }

  .title-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .title-item {
    margin-right: var(--space-regular);
  }

  .title-item:last-of-type {
    margin-right: 0;
  }

  /* Skills CSS */
  .skills__container {
    padding: 48px 15px;
  }

  .tool-imgBox {
    width: 60px;
  }

  /* Works CSS */
  .works__container {
    padding: 48px 15px;
  }

  .works__list-item {
    width: 320px;
    height: 240px;
  }

  /* Contact CSS */
  .contact__container {
    padding: 48px 15px;
  }

  .move-to-top {
    right: 10px;
    font-size: var(--font-medium);
  }
}
